.about{
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.about > h1 {
    color: #ffd369;
    padding: 3px;
    font-size: 3rem;
    font-family: 'Poiret One', cursive;
}

.about > p{
    text-align: center;
    line-height: 2;
    color: #eeeeee;
}