.header{
    height: 10vh;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(34,40,49,1) 82%, rgba(57,62,70,1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f6f6f6;
    color: #ffd369;
}

.header a{
    text-decoration: none;
}

.header__left p{ 
    color: #ffd369;
    padding: 3px;
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
    font-size: 1.2rem;
    margin-left: 10px;
}
.header p:hover{
    text-shadow: 2px 2px 10px rgba(252,255,166,1);

}

.header__left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
}



.header__center > a > img {
    height: 10vh;
    object-fit: contain;
}



.header__right p{
    color: #ffd369 ;
    padding: 3px;
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
    font-size: 1.2rem;
    margin-right: 10px;
    /* #FDF501 */
}

.header__right{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 15px;
    color: #ffd369;
}

.header__right > .MuiIconButton-root{
    color: #ffd369;
}

.MuiSvgIcon-root.facebook{
    height: 40px;
    width: 40px;
}

.header__rightAnchor{
    text-decoration: none;
    color: inherit;
}


