.header{
    height: 10vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f6f6f6;
}

p{
    color: #FDF501;
    padding: 3px;
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
    font-size: 1.2rem;
}

p:hover{
    text-shadow: 2px 2px 10px rgba(252,255,166,1);

}

.header__left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
}

.header__left > p {
    margin-left: 10px;
}

.header__center > img {
    height: 10vh;
    object-fit: contain;
}

.header__right{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 15px;
}

.header__right > p{
    margin-right: 10px;
}